.search-results{
    background-color: white;
    font-size: 1rem;    
    max-height: 400px;
    overflow: auto;
    border: 1px solid lightskyblue;
    padding: .5rem 2rem;
    max-width: 60vw;
    margin: 0 auto;
}

.search-results li {
    border-bottom: 1px solid lightskyblue;
  }